/db/paypal_config.php
/db/db_config.php
/logs/
/db/logs/
db/logs/php_debug.log
db/paypal_config.php
db/paypal_config.php
db/db_config.php
db/db_config.php
db/paypal_config.php
db/db_config.php
db/paypal_config.php
